# Mac OS X
.DS_Store

# WebStorm
.idea/workspace.xml

# npm
node_modules/**/.bin/

# Karma binaries
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/
node_modules/karma/node_modules/socket.io/node_modules/engine.io/node_modules/ws/node_modules/bufferutil/build/
node_modules/karma/node_modules/socket.io/node_modules/engine.io/node_modules/ws/node_modules/utf-8-validate/build/
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/node_modules/bufferutil/build/
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/node_modules/utf-8-validate/build/

# Karma's fsevents module doesn't build on vanilla Windows because it requires Python.
# It's optional, so we've removed it from the repo and ignored it:
node_modules/karma/node_modules/chokidar/node_modules/fsevents/

# Karma's 'builderror.log' is modified by vanilla Windows because it doesn't have Python.
# It's not necessary, so we've removed it from the repo and ignored it:
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/builderror.log
